nav img{
	background-position: right center;
	background-repeat: no-repeat;
	width: 70px;
	height: auto;
}

nav {
	background-color: rgb(124, 16, 16);
}

nav a, nav div ul li a {
	color: rgb(243, 242, 240);
	position: relative;
	text-decoration: none;
}

nav div ul li.active a {
	text-decoration: underline;
}

nav a:hover {
	color: rgb(209, 93, 4);
}

nav div ul li.active a:hover {
	text-decoration: underline;
}

img[id="connexionImg"]{
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#connexion {
 	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	/* color: rgb(140, 24, 20); */
	color: rgb(124,16,16)
}

h2 {
	color: rgb(166,42,19);
}

/* form input[type="submit"]  */
.btn-sucess{	
	position: relative;
	top: 0;
	padding: 10px 20px;
	border-radius: 4px;
	background: rgb(124, 16, 16);
	color: white;
	border: none;
	box-shadow: 1px 1px #EEE;
	cursor: pointer;
	transition: all 0.25s ease;
}

/* form input[type="submit"]:hover  */
.btn-sucess:hover{
	top: -5px;
	background: rgb(166,42,19);
	box-shadow: 4px 4px #EEE;
}