h1 {
	color: rgb(124,16,16)
}

h2 {
	color: rgb(166,42,19);
}

section img{
	position: relative;
	width: 600px;
	height: auto;
	top: auto;
	left: 50%;
	transform: translate(-50%, 5%);
}

section img[id="finRegles"]{
	margin-bottom : 40px;
}
