img[id="connexionImg"]{
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 5%);
}

#connexion {
 	position: absolute;
	left: 50%;
	transform: translate(-50%, 100%);
}

h1 {
	/* color: rgb(140, 24, 20); */
	color: rgb(124,16,16)
}

h2 {
	color: rgb(166,42,19);
}

.btn-sucess{	
	position: relative;
	top: 0;
	padding: 10px 20px;
	border-radius: 4px;
	background: rgb(124, 16, 16);
	color: white;
	border: none;
	box-shadow: 1px 1px #EEE;
	cursor: pointer;
	transition: all 0.25s ease;
}

.btn-sucess:hover{
	top: -5px;
	color: white;
	background: rgb(166,42,19);
	box-shadow: 4px 4px #EEE;
}