h1 {
	color: rgb(124,16,16)
}

h2 {
	color: rgb(166,42,19);
}



table thead {
	background-color: rgb(124, 16, 16);
	color: rgb(243, 242, 240);
}

a.btn-info{
	position: relative;
	top: 0;
	width: 100px;
	height: 25px;
	padding: 0px 10px;
	border-radius: 4px;
	background: rgb(186, 61, 12);
	color: white;
	border: none;
	box-shadow: 1px 1px #EEE;
	cursor: pointer;
	transition: all 0.25s ease;
}

a.btn-info:hover{
	position: relative;
	top: -2px;
	color: white;
	background: rgb(186, 61, 12);
	box-shadow: 2px 2px #EEE;
}

a.btn-danger{
	position: relative;
	top: 0;
	width: 100px;
	height: 25px;
	padding: 0px 10px;
	border-radius: 4px;
	background: rgb(166, 42, 18);
	color: white;
	border: none;
	box-shadow: 1px 1px #EEE;
	cursor: pointer;
	transition: all 0.25s ease;
}

a.btn-danger:hover{
	position: relative;
	top: -2px;
	color: white;
	background: rgb(166, 42, 18);
	box-shadow: 2px 2px #EEE;

}

td.col1{
	width:15px;
}

td.col3{
	width:250px;
}