<header>
	<h1 class="text-center">Chat du jeu</h1>
</header>

	<section class="container float-center" id="affichageChat">
		<div *ngFor="let c of chatService.findAllAsync() | async" id="chat_list ">
				<div id="joueur">{{c.joueur.username}} - partie {{c.partie.id}}</div>
				<div id="message">{{c.contenu}}</div>
				<br>
		</div>
	</section>
	<section class="container" id="saisieMessage">
		<div class="row">
				<input type="text" class="form-control" id="contenu" [(ngModel)]="chat.contenu" />
				<button (click)="ajouterChat()" class="btn btn-sucess pull-right">Envoyer</button>
		</div>
	</section>
